$white: #fff;
$primary: #007AFF;
$lightPrimary: #64B6FF;
$lightGray: #ECEFF1;
$grayPrimary: #DCE1E3;
$textPrimary: #54617A;
$headingPrimary: #ACAEAF;
$darkGray: #2E3039;
// images
$loginBgImg : url("../../Assets/images/student.jpg")